.popup__type_full-foto__exit-button {
  background: url("../../../../../images/Close-icon.svg") no-repeat 50%/100%;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media (max-width: 720px) {
  .popup__full-foto__exit-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -35px;
  }
}
