.popup__exit-button {
  background: url("/images/Close-icon.svg") no-repeat 50%/100%;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -38px;
  right: -38px;
}

@media (max-width: 645px) {
  .popup__exit-button {
    right: 0;
    top: -45px;
    background-size: 20px 20px;
  }
}
