.popup__save-button {
  background-color: #000;
  color: #fff;
  width: 358px;
  min-height: 50px;
  border-radius: 2px;
  border: none;
  margin: 48px 36px 37px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: 0.3s ease-out;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media (max-width: 645px) {
  .popup__save-button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 22px 25px;
  }
}
